html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.progress{
    transition: width 2s;
}


.starsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1; 
    overflow: hidden;
  }
  
  .stars {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .star {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: moveUp linear infinite;
  }
  
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  
