.mainCcontainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactIcons i {
  margin: 10px;
  font-size: 3rem;
}

.contactIcons i:hover{
  color: black;

}

.contactIcons {
  padding: 3rem;
}

.main {

  display: flex;
  flex-direction: column;
  margin: 0%;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: rgb(68, 132, 206);
  animation-name: example;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

  @keyframes example {
    0%   {background-color: rgb(68, 132, 206);}
    25%  {background-color: rgb(255, 155, 17);}
    50%  {background-color: rgb(26, 215, 192);}
    80% {background-color: rgb(155, 89, 182);}
    100% {background-color: rgb(255, 127, 127);}
  }
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
  width: 50%;
}

.logo {
  height: 1em;
}